@import "../variables";

:root {
    --input-padding: 15px;
}

[class].input {
    width: 100%;
    padding-bottom: 0;

    &--disabled {
        pointer-events: none;
    }

    textarea {
        resize: none;
    }

    input,
    textarea {
        padding: 10px 0 5px;
        border-bottom: 1px solid #ccc;
        transition: border 0.2s ease-in-out;

        &:hover {
            border-color: $color-main;
        }
    }

    label {
        font-size: 15px;
    }
}
