@import "../mixins";
@import "../variables";

.error {
    width: 80%;
    margin: 50px auto;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    @include touch {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
    }

    &__link {
        color: $color-main;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            outline: none;
        }

        @include touch {
            display: block;
        }
    }
}
