@import "../mixins";

.form {
    overflow: hidden;

    @include touch {
        margin-top: 20px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        &--checkboxes {
            margin: 20px 0;

            @include touch {
                margin-top: 0;
            }
        }
    }

    &__checkbox {
        min-width: 155px;
        margin-top: 20px;

        @include touch {
            min-width: 100%;
        }

        &:nth-child(odd) {
            margin-right: 15px;

            @include touch {
                margin-right: 0;
            }

            @include desktop-plus {
                margin-right: 95px;
            }
        }
    }

    &__files {
        width: 100%;
        margin-top: 10px;
    }

    &__files-row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 5px;
        background-color: #fff;
        border: 2px solid transparent;
        border-radius: 2px;

        &--title {
            padding-bottom: 0;
        }

        &:focus,
        &--dragging {
            border-color: #ccc;
            outline: none;
        }
    }

    &__files-title {
        margin: 0;
        font-size: 21px;
        line-height: 25px;
    }

    &__files-add {
        width: 74px;
    }

    &__files-remove {
        flex-shrink: 0;
        width: 22px;
        height: 22px;
        margin-bottom: 1px;
        margin-left: 5px;
        background-color: #fff;
    }

    &__buttons {
        margin: 30px 0 50px;

        @include touch {
            margin-bottom: 30px;
        }
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__buttons-download {
        width: 105px;
        margin-bottom: 10px;
    }

    &__buttons-clear {
        width: 145px;
    }

    &__buttons-checkbox {
        margin: 5px 0 10px;
    }
}
