:root {
    --tab-navigation-border-color: rgba(0, 0, 0, 0);
}

.tabs {
    position: relative;
    top: 2px;

    [class] &__item {

        &--active {
            cursor: default;
        }

        * {
            display: none; // disable fckg ripple
        }
    }
}
