$margin: 20px;

.app {
    display: flex;
    align-content: center;
    justify-content: center;

    &__left {
        width: 400px;
        margin-right: $margin;
    }

    &__right {
        width: 400px;
        margin-left: $margin;
    }
}
