.preview {
    position: fixed;
    top: calc(50% - 255px);
    width: 280px;
    height: 561px;
    padding: 16px 18px;
    font-size: 11px;

    &__phone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./phone.png");
        background-size: 280px 561px;
        background-repeat: no-repeat;
        pointer-events: none;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    &__header {
        flex-shrink: 0;
        height: 50px;
        margin-bottom: 8px;
        padding-top: 28px;
        background-color: #fafafa;
        border-bottom: 1px solid #eaeaea;
    }

    &__header-text {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        text-align: center;
        letter-spacing: -0.4px;
        white-space: nowrap;
    }

    &__common {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 6px;
        padding: 0 10px;
    }

    &__common-photo {
        position: relative;

        &--active::after {
            position: absolute;
            top: -3px;
            left: -3px;
            display: block;
            content: "";
            width: 63px;
            height: 63px;
            background: url("./story.png") no-repeat;
            background-size: 63px;
        }
    }

    &__photo-img {
        display: block;
        flex-shrink: 0;
        width: 57px;
        height: 57px;
        margin-right: 9px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__common-statistics {
        width: 100%;
    }

    &__statistics-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6px;
        padding: 5px 5px 0 2px;
    }

    &__statistics-item {
        text-align: center;

        &--posts {
            width: 50px;
        }

        &--followers {
            width: 56px;
        }

        &--following {
            width: 40px;
        }
    }

    &__item-count {
        font-weight: bold;
    }

    &__item-title {
        font-size: 8px;
        color: #999;
        text-transform: lowercase;
    }

    &__follow-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 18px;
        font-size: 9px;
        color: #fff;
        background-color: #3195f4;
        border-radius: 3px;
    }

    &__info {
        flex-shrink: 0;
        margin-bottom: 8px;
        padding: 0 10px;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: -0.1px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info-name {
        position: relative;
        font-weight: bold;

        &--verified::after {
            position: absolute;
            top: 0;
            right: -13px;
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            background: url("./verified.svg") no-repeat;
            background-size: 10px;
        }
    }

    &__info-business {
        font-weight: 100;
        color: #999;
    }

    &__info-bio {
        line-height: 13px;
        letter-spacing: -0.3px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info-website,
    &__info-address {
        color: #003569;
        letter-spacing: -0.2px;
    }

    &__buttons {
        display: flex;
        flex-shrink: 0;
        border-top: 1px solid #eaeaea;
    }

    &__buttons-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25px;
        font-size: 9px;
        color: #3195f3;

        &:not(:last-child)::after {
            position: absolute;
            top: calc(50% - 7px);
            right: 0;
            display: block;
            content: "";
            width: 1px;
            height: 14px;
            background-color: #eaeaea;
        }
    }

    &__posts {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #eaeaea;

        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 28px;
            background: url("./posts-icons.png") no-repeat center;
            background-size: 180px 16px;
            border-bottom: 1px solid #eaeaea;
        }

        &--empty {
            align-items: center;
            justify-content: center;
            height: calc(100% - 54px);

            &::before {
                display: none;
            }
        }
    }

    &__posts-info {
        height: 90px;
        margin-bottom: 40px;
        padding-top: 65px;
        font-size: 15px;
        text-align: center;
        background: url("./posts.png") no-repeat center top;
        background-size: 55px;
    }

    &__posts-item {
        width: 80.5px;
        height: 80.5px;
        margin-bottom: 1px;

        &:not(:nth-child(3n)) {
            margin-right: 1px;
        }

        &--empty {
            background-color: #939393;
        }
    }

    &__navigation {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 54px;
        background: url("./navigation.png") no-repeat;
        background-size: 100% 54px;
        border-top: 1px solid #eaeaea;
    }
}
