.preview {
    position: fixed;
    top: calc(50% - 255px);
    width: 281px;
    height: 563px;
    padding: 16px 18px;
    font-size: 11px;
    pointer-events: none;

    &__phone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        background-color: #fff;
    }

    &__header {
        flex-shrink: 0;
        height: 50px;
        margin-bottom: 8px;
        padding-top: 28px;
        background-color: #fafafa;
        border-bottom: 1px solid #eaeaea;
    }

    &__header-text {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        text-align: center;
        letter-spacing: -0.4px;
        white-space: nowrap;
    }

    &__common {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 6px;
        padding: 0 10px;
    }

    &__common-photo {
        position: relative;
    }

    &__photo-img {
        display: block;
        flex-shrink: 0;
        width: 57px;
        height: 57px;
        margin-right: 9px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__photo-story {
        position: absolute;
        top: -3px;
        left: -3px;
        display: block;
        width: 63px;
        height: 63px;
    }

    &__common-statistics {
        width: 100%;
    }

    &__statistics-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6px;
        padding: 5px 5px 0 2px;
    }

    &__statistics-item {
        text-align: center;

        &--posts {
            width: 50px;
        }

        &--followers {
            width: 56px;
        }

        &--following {
            width: 40px;
        }
    }

    &__item-count {
        font-weight: bold;
    }

    &__item-title {
        font-size: 8px;
        color: #999;
        text-transform: lowercase;
    }

    &__follow-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 18px;
        font-size: 9px;
        color: #fff;
        background-color: #3195f4;
        border-radius: 3px;
    }

    &__info {
        flex-shrink: 0;
        margin-bottom: 8px;
        padding: 0 10px;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: -0.1px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info-name {
        display: flex;
        align-items: center;
        font-weight: bold;

        img {
            display: block;
            width: 9px;
            height: 9px;
            margin-left: 3px;
        }
    }

    &__info-business {
        font-weight: 100;
        color: #999;
    }

    &__info-bio {
        line-height: 13px;
        letter-spacing: -0.3px;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info-website,
    &__info-address {
        color: #003569;
        letter-spacing: -0.2px;
    }

    &__stories {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 5px;
        padding-top: 3px;
        padding-left: 6px;
    }

    &__stories-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        width: 46px;
        margin-right: 6px;
        font-weight: 100;
        font-size: 9px;
        letter-spacing: -0.8px;
        white-space: nowrap;
        text-align: center;

        &::after {
            position: absolute;
            z-index: 1;
            top: -2px;
            display: block;
            content: "";
            width: 39px;
            height: 39px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
        }

        img {
            position: relative;
            z-index: 2;
            display: block;
            width: 37px;
            height: 37px;
            margin-bottom: 4px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__buttons {
        display: flex;
        flex-shrink: 0;
        border-top: 1px solid #eaeaea;
    }

    &__buttons-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 25px;
        font-size: 9px;
        color: #3195f3;

        &:not(:last-child)::after {
            position: absolute;
            top: calc(50% - 7px);
            right: 0;
            display: block;
            content: "";
            width: 1px;
            height: 14px;
            background-color: #eaeaea;
        }
    }

    &__posts {
        width: calc(100% + 1px);
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #eaeaea;

        &--empty {
            align-items: center;
            justify-content: center;
            height: calc(100% - 54px);
        }
    }

    &__posts-icons {
        width: 100%;
        height: 28px;
        margin: 0 auto;
        padding: 6px 33px;
        border-bottom: 1px solid #eaeaea;
    }

    &__posts-info {
        height: 90px;
        margin-bottom: 50px;
        font-size: 15px;
        text-align: center;

        img {
            display: block;
            width: 55px;
            height: 55px;
            margin: 0 auto 10px;
        }
    }

    &__posts-item {
        width: 81px;
        height: 81px;
        margin-bottom: 1px;
        margin-right: 1px;

        &--empty {
            background-color: #939393;
        }
    }

    &__navigation {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        border-top: 1px solid #eaeaea;
    }
}
