@import "../mixins";
@import "../variables";

[class].upload {
    position: relative;
    display: flex;
    align-items: flex-end;

    &--full {
        width: 100%;
    }

    &--padding input {
        padding-right: 25px;
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }

    &__button {
        flex-shrink: 0;
        width: 74px;
        margin-left: 10px;

        &--focused {
            background-color: $color-main-action;
            box-shadow: 2px 2px 5px 1px rgba(74, 80, 117, 0.6);
        }
    }

    &__clear {
        position: absolute;
        bottom: 1px;
        right: 80px;
        padding: 5px;
        width: 25px;
        height: 25px;
        background-color: transparent;

        @include touch {
            background-color: #fff;
        }
    }
}
