<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instant-Preview</title>
        <meta name="description" content="Application for building a dream instagram-profile">
        <meta name="keywords" content="instagram, profile, preview, инстаграм, профиль, настройка, предпросмотр, визуализация, smm">
        <meta property="og:url" content="https://instant-preview.com/">
        <meta property="og:site_name" content="Instant-Preview">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Build a dream instagram profile">
        <meta property="og:description" content="Just add main information and upload photos. Feel free to swap posts and highlights until achieve the best visual combination. Download the result and present it to your clients or colleagues.">
        <meta property="og:image" content="./img/og_image.png">
        <link rel="shortcut icon" href="./img/favicon_56.png">
        <link rel="apple-touch-icon" href="./img/favicon_56.png" sizes="56x56">
        <link rel="apple-touch-icon" href="./img/favicon_120.png" sizes="120x120">
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="app" class="app">
            <div class="app__spinner"></div>
        </div>
    </body>
</html>
