@import "../variables";
@import "../mixins";

.contacts {
    padding-bottom: 50px;
    font-size: 14px;
    text-align: center;
    color: #757575;

    @include touch {
        padding-bottom: 25px;
    }

    &__link {
        color: $color-main;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            outline: none;
        }
    }
}
